* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    --font-primary: "Raleway", sans-serif;
    --font-secondary: "Abril Fatface", cursive;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    width: 100vw;
    justify-content: flex-end;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    position: fixed;
    z-index: 3;
}

/*--------------------------------
      NAV BAR GENERAL
  ----------------------------------*/

ul {
    list-style-type: none;
    align-items: flex-end;
    line-height: 1.2;
    position: relative;
    justify-content: space-between;
}

.a-header {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    font-family: var(--font-primary);
}

.a-header:hover, .a-header:focus {
    background-size: 100% 2px;
}

/*--------------------------------
      NAV BAR HEADER
  ----------------------------------*/
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #130b49;
    font-family: var(--font-primary);
}

.menu-header, .menu-proyectos, .menu-footer {
    margin: 10px;
    padding: 10px;
}

#icono-burger {
    display: none;
}

.button {
    background-color: #0400ff;
    border-radius: 25px;
    color: #d3faf5;
    padding: 10px 40px;
}

.logo {
    margin-right: 1000px;
}

/*--------------------------------
      MENU DESPLEGABLE MOBILE
  ----------------------------------*/

.contenedor-barra-mobile {
    display: flex;
    z-index: 1;
    position: absolute;
    top: -250px;
    right: 0;
    transition: 1s;
}

.barra-mobile {
    background-color: rgba(250, 250, 250, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-desplegado {
    right: 0;
    top: 70px;
}

/*--------------------------------
     DISPLAY FLEX
  ----------------------------------*/

ul, nav, header {
    display: flex;
}

/*--------------------------------
      LAYOUT PRINCIPAL
  ----------------------------------*/

.layout-principal {
    width: 100%;
    height: 80vh;
}

.title-image {
    font-family: var(--font-secondary);
    font-size: 70px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 150px;
    left: 65%
}

/*--------------------------------
      SECCIÓN QUOTE
  ----------------------------------*/
.seccion-quote {
    background: rgb(67, 161, 254);
    color: #fafafa;
    padding: 100px 20px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.div-quote {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-quote {
    font-family: --font-secondary;
    font-size: 40px;
    margin: 15px 20px;
}

.h3-quote {
    font-family: --font-secondary;
    font-size: 35px;
    color: #fafafa;
    padding-bottom: 20px;
    font-weight: normal;
    margin: 10px 150px;
}

/*--------------------------------
      SECCIÓN CAROUSEL
  ----------------------------------*/
  .seccion-carousel {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(52, 52, 52, 0.5)), 
        url('assets/background-obras.jpg') center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.seccion-carousel h1 {
    padding-bottom: 50px;
    color: #fafafa;
}

.div-carousel {
    width: 500px;
    height: 500px;
}

.carousel-inner img {
    width: 500px;
    height: 500px;
}

.carousel-inner h5 {
    background-color: #fafafa;
    color: rgb(67, 161, 254);
    font-weight: 600;
}

/*--------------------------------
      Contact Form
  ----------------------------------*/
.form{
       
    margin-top: 100px;
    display: flex;
    justify-content: center;

}
h2{
    margin-bottom: 30px;
}

form{
    
    border-radius: 10px;
    background-color: #0400ff;
   padding: 40px;
   color: white;
   font-family: "Abril Fatface", cursive;
   box-shadow: 0 0 20px rgb(0,0,0, 0.8);
}
form button{
    width: 100%;
}
.Gender input{
    margin: 15px 10px 0px 5px ;
}
.input{
   display: block;
    margin-bottom: 30px ;
   border-style: none;
    padding: 10px 10px 10px 20px;
    outline: none;
    width: 400px;
    border: 1px solid;
    border-radius: 5px;

}
select{
    outline: none;
    margin:15px 0px 15px 0px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    width: 50%;

}
button{
    outline: none;
    margin:15px 0px 15px 0px;
    padding: 10px;
    border-radius: 15px;
    width: 50%;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #93c7fe;
}
input:focus {
    border-color: #007bff; /* Optional: Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional: Add box shadow on focus */
}

.comment {
    margin:5px 0px 15px 0px;
}
textarea{
    margin:15px 0px 0px 0px;
    padding:10px 10px 0px 15px;
    outline: none;
    border-radius: 10px;

}
/*-------------------------
      @MEDIA TABLETS
  -------------------------*/

@media (min-width: 600px) and (max-width: 900px) {
    .nav-header {
        font-family: var(--font-primary);
    }

    .menu-header {
        font-size: 16px;
    }

    .layout-principal {
        width: 100%;
        height: 65vh;
    }
}

/*-------------------------
      @MEDIA CELULARES
  -------------------------*/

@media (max-width: 599px) {
    #ul-header {
        display: none;
    }

    #icono-burger {
        display: block;
        font-size: 30px;
        color: #0c007b;
    }

    .layout-principal {
        width: 100%;
        height: 50vh;
    }

    .title-image {
        font-family: var(--font-secondary);
        font-size: 45px;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 374px;
        left: 68px;
    }
}